---
import MainLayout from '../../layout/mainlayout.astro';
import Header from '../../components/header.astro';
import Chart from '../../components/chart.astro';
import Footer from '../../components/footer.astro';

// 1. 定義哪些年份需要產生頁面
export async function getStaticPaths() {
  return [
    { params: { year: '2015' } },
    { params: { year: '2016' } },
    { params: { year: '2021' } },
    { params: { year: '2023' } },
  ];
}

const { year } = Astro.params;
---
<meta charset="utf-8" />
<MainLayout title={`${year}`}>
  <Header />
  <main class="main-container">
    <div class="dashboard">
      <Chart currentYear={year} />
    </div>
    
    <div class="dashboarder">
            <div class="type-tab">
                <button class="taber-btn active">特徵分析</button>
                <button class="taber-btn">AI解說</button>
            </div>
            <div class="info-section">
                <div class="month-tag" id="month-label">載入中...</div>
                <p id="feature-text">正在載入數據...</p>
            </div>
        </div>
  </main>
  <Footer />
</MainLayout>