---
import MainLayout from '../../layout/mainlayout.astro';
import Header from '../../components/header.astro';
import Chart from '../../components/chart.astro';
import Footer from '../../components/footer.astro';

// 定義哪些年份需要產生頁
export async function getStaticPaths() {
  return [
    { params: { year: '2015' } },
    { params: { year: '2016' } },
    { params: { year: '2021' } },
    { params: { year: '2023' } },
  ];
}

const { year } = Astro.params;
---
<!DOCTYPE html>
<meta charset="utf-8" />
<MainLayout title={`${year}年 海溫異常分析`}>
  <Header />
  <main class="main-container">
    <div class="dashboard">
      <Chart currentYear={year} />
    </div>
    
    <div class="dashboarder">
            <div class="type-tab">
                <button class="taber-btn active"onclick="changecommemtry('feature',this)">特徵分析</button>
                <button class="taber-btn" onclick="changecommemtry('AI',this)">AI解說</button>
            </div>
            <div class="info-section">
                <div class="month-tag" id="month-label">載入中...</div>
                <p id="feature-text">正在載入數據...</p>
            </div>
        </div>
  </main>
  <Footer />
</MainLayout>
<script is:inline>
async function changecommemtry(type, btn) {
        document.querySelectorAll('.taber-btn').forEach(b => b.classList.remove('active'));
        btn.classList.add('active');
         const targetMonth = months[currentIdx];
        if (type == 'feature') {
            document.getElementById('feature-text').innerText = featureDescriptions[targetMonth] || "此月份海溫隨氣候現象發展呈現動態變動，觀察重點在於距平值的正負轉換。";
        } else if (type == 'AI') {
            document.getElementById('feature-text').innerText =AIfeature[targetMonth] || "根據目前的海溫距平分佈，台灣周邊海域在此月份呈現出明顯的暖化趨勢，這可能與當前的氣候模式和全球暖化趨勢有關。建議持續關注未來幾個月的變化，以評估對台灣氣候的潛在影響。";
        }

    }
    </script>