---
import MainLayout from '../layout/mainlayout.astro';
import Header from '../components/header.astro';   
import Footer from '../components/footer.astro';
---
<meta charset="utf-8" />
<title>地球科學探索:觀察結果</title>
<MainLayout>
    <Header/>
<div class="main-container">
    <div class="bashboard">
        <h1>聖嬰/反聖嬰事件：台灣周邊海溫異常分佈</h1>
        <p style="font-size: 1.4rem;margin-top: 0px;">聖嬰事件（El Niño）和反聖嬰事件（La Niña）是全球氣候系統中的重要現象，對台灣周邊的海溫異常分佈有顯著影響。以下是這些事件對台灣周邊海溫異常分佈的觀察結果：</p>
        <p>1. 聖嬰事件期間，台灣周邊的海溫通常會出現異常升高，尤其是在太平洋中東部和南美洲沿岸地區。這種升高的海溫會影響台灣的氣候，導致夏季更熱、更乾燥，並增加颱風的強度和頻率。</p>
        <p>2. 反聖嬰事件期間，台灣周邊的海溫通常會出現異常降低，尤其是在太平洋中東部和南美洲沿岸地區。這種降低的海溫會影響台灣的氣候，導致夏季較涼爽、較潮濕，並減少颱風的強度和頻率。</p>
        <p>3. 這些海溫異常分佈的變化對台灣的農業、漁業和水資源管理等方面產生重要影響。了解這些事件對海溫異常分佈的影響，有助於台灣更好地應對氣候變化帶來的挑戰。</p>
    </div>
</div>
    <Footer  />
</MainLayout>

