---
import MainLayout from '../layout/mainlayout.astro';
import Header from '../components/header.astro';   
import Footer from '../components/footer.astro';
---
<meta charset="utf-8" />
<mainLayout>
    <body>
    <Header/>
<h1>聖嬰/反聖嬰事件：台灣周邊海溫異常分佈</h1>
<p>結果</p>
<p>結果</p>
<p>結果</p>
<p>結果</p>
<p>結果</p>
<p>結果</p>
<p>結果</p>
<p>結果</p>
<p>結果</p>
<p>&nbsp;</p>
    </body>
    <Footer  />
</mainLayout>
<style>
    body { font-family: "Microsoft JhengHei", sans-serif; background: #f4f7f9; height: 100%; }
    h1 { text-align: center; margin-top: 40px; color: #2c3e50; padding: 20px; font-size: 1.8rem; }
    p { text-align: center; font-size: 1.2rem; color: #4b5563; margin-top: 20px; }  
</style>