<div class="carousel-container">
    <button class="arrow prev" id="prevMonth">&#10094;</button>
    <div id="chart"></div>
    <button class="arrow next" id="nextMonth">&#10095;</button>
</div>
<div class="dots" id="dotContainer"></div>
<script src="index.js">
</script>