---
const currentYear = new Date().getFullYear();
---
<footer class="footer">
    <p class="footertext">資料來源：NOAA OISST V2.1 台灣周邊海域海溫距平資料</p>
    <p class="footertext">製作：Weilin Lai &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2026年3月</p>
</footer>
<style>
    .footer { text-align: center; background-color: #1a2a3a; width: 100%;height: auto;margin-bottom: 0px;padding: 20px 0;  margin-top: auto;  }
    .footertext { margin-top: 10px; color: #9fafb0; font-size: 0.9rem; }
    @media screen and (max-width: 1200px) {
        .footer-text {
            font-size: 0.8rem;
        }
    }
    </style>